*.o
*.a
*.pyc
#*#
*~
*.swp
.*
*.tmp
*.old
*.profile
*.bkp
*.bak
[Tt]humbs.db
*.DS_Store
build/
_build/
src/build/
*.log
*.db
/data/
test-coverage.out

# executables
/athome
/beemo
/bigsky
/fakermaker
/gosky
/laputa
/lexgen
/palomar
/sonar-cli
/stress
/supercollider
/hepa

# Don't ignore this file itself, or other specific dotfiles
!.gitignore
!.github/

# Don't commit your (default location) creds
bsky.auth

# Sonar cursor file
sonar_cursor.json
out/
state.json
netsync-out/

# Relay dash output
/public/
