*.o
*.a
*.pyc
#*#
*~
*.swp
.*
*.tmp
*.old
*.profile
*.bkp
*.bak
[Tt]humbs.db
*.DS_Store
build/
_build/
src/build/
*.log
*.db
/data/
test-coverage.out

# executables
/beemo
/bigsky
/bluepages
/fakermaker
/gosky
/hepa
/lexgen
/palomar
/rainbow
/relay
/sonar
/sonar-cli
/stress
/supercollider

# Don't ignore this file itself, or other specific dotfiles
!.gitignore
!.github/
!.golangci.yaml

# Don't commit your (default location) creds
bsky.auth

# Sonar cursor file
sonar_cursor.json
out/
state.json
netsync-out/

# Relay dash output
/public/
/cmd/relay/public
