{% extends "base.html" %}

{% block main_content %}
<p>This is a web index of <a href="https://atproto.com">atproto</a> data and API schemas: <a href="https://atproto.com/specs/lexicon">Lexicons</a>. It is an ✨Experimental✨ project from the protocol team at <a href="https://bsky.social">Bluesky</a>.

<h3>How It Works</h3>

<p>Lexicon schemas are publicly published as records in atproto repos. This service listens on the firehose for new lexicons and auto-updates when they are discovered. For more details about publishing Lexicons, see the <a href="https://github.com/bluesky-social/atproto/discussions/3074">Lexicon Resolution RFC</a>.

<p>You can browse <a href="/recent">Recent Crawl Attempts</a>.

{% if domains %}
<h3>Known Domains</h3>
<ul>
{% for d in domains %}
  <li><a href="/domain/{{ d.Domain }}">{{ d.Domain }}</a>
{% endfor %}
</ul>
{% endif %}

{% endblock %}
