{% extends "base.html" %}

{% block main_content %}
<h2 style="font-family: monospace;">{{ lexicon.NSID }}</h2>


{% for name, def in schema.defs %}
<h3><code>#{{ name }}</code> - {{def.type}}</h3>
{% if def.type == "record" %}
<p><i>{{ def.description }}</i>
<p>Record Key Type: <code>{{ def.key }}</code>
<ul>
{% for pname, pdef in def.record.properties %}
<li>{{ pname }}
{% endfor %}
</ul>
{% endif %}
{% endfor %}
<!--
<h4>Index</h4>
<table>
  <tbody>
    <tr><td><code><a href="/at/{{ atid }}">..</a></code></td>
    {% for uri in recordURIs %}
    <tr><td><code><a href="/at/{{ atid }}/{{ collection }}/{{ uri.RecordKey() }}">{{ collection }}/{{ uri.RecordKey() }}</a></code></td>
    {% endfor %}
    {% if cursor != "" %}
    <tr><td><code><a href="/at/{{ atid }}/{{ collection }}?cursor={{ cursor }}">[more]</a></code></td>
    {% endif %}
  </tbody>
</table>
-->

{% endblock %}
