{% extends "base.html" %}

{% block head_title %}Bluesky{% endblock %}

{% block html_head_extra -%}
  <meta name="description" content="See what's next."/>
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="Bluesky Social"/>
  <meta property="og:description" content="See what's next."/>
  <meta property="og:image" content="/static/social-card-default.png"/>
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:site" content="@bluesky"/>
{%- endblock %}

{% block main_content %}
<center style="padding-top: 8em;">
  <h1 style="font-size: 3em; color: blue;">See what’s next</h1>
  <h1 style="font-size: 3em; color: black;">Bluesky Social</h1>
</center>
{% endblock %}
