
<!doctype html>                                                                                                                                                                                                     
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="referrer" content="origin-when-cross-origin">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.purple.min.css">
  <title>atp-oauth-demo: indigo atproto oauth demo</title>
</head>
<body>
<header>
  <hgroup>
    <h1>atp-oauth-demo: indigo atproto oauth demo</h1>
    {{ if false }}
    <p>Hello <span style="font-family: monospace;">@{{ "handle" }}</span>!</p>
    {{ end }}
  </hgroup>
  <nav>
    <ul>
    {{ if false }}
      <li><a href="/bsky/post">Create Post</a>
      <li><a href="/oauth/refresh">Refresh Token</a>
      <li><a href="/oauth/logout">Logout</a>
    {{ else }}
      <li><a href="/oauth/login">Login</a>
    {{ end }}
      <li><a href="https://github.com/bluesky-social/indigo">Code</a>
    </ul>
  </nav>
</header>
<main>
  <section class="content">
    {{ range 0 }}
      <article>{{ . }}</article>
    {{ end }}
    {{ template "content" . }}
  </section>
</main>
</body>
</html>
