on:
  workflow_call:
    inputs:
      namespace:
        type: string
        default: ${{ github.repository }}
      image_name:
        type: string
      dockerfile:
        type: string

env:
  REGISTRY: ghcr.io
  REGISTRY_USERNAME: ${{ github.actor }}
  REGISTRY_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
  TAG_PREFIX: "refs/tags/${{ inputs.image }}-v"

jobs:
  build-and-publish:
    if: github.repository == 'bluesky-social/indigo'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@v1

      - name: Log into registry ${{ env.REGISTRY }}
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ env.REGISTRY_USERNAME }}
          password: ${{ env.REGISTRY_PASSWORD }}

      # Creates a package as: ghcr.io/bluesky-social/indigo/sonar
      #
      # The image appears as part of indigio repository via the
      # org.opencontainers.image.source label
      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: |
            ${{ env.REGISTRY }}/${{ inputs.namespace }}/${{ inputs.image_name }}
          tags: |
            type=sha,enable=true,priority=100,format=long
            type=match,pattern=tap-v(\d+\.\d+\.\d+),group=1,enable=${{ startsWith(github.ref, env.TAG_PREFIX) }}
            type=match,pattern=tap-v(\d+\.\d+),group=1,enable=${{ startsWith(github.ref, env.TAG_PREFIX) }}
            type=raw,value=latest,enable=${{ startsWith(github.ref, env.TAG_PREFIX) }}

      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ${{ inputs.dockerfile }}
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
