name: container-relay-ghcr
on:
  push:
    branches:
      - main
    tags:
      - "relay-v*"
jobs:
  container-relay-ghcr:
    if: github.repository == 'bluesky-social/indigo'
    permissions:
      contents: read
      packages: write
      id-token: write

    uses: ./.github/workflows/build-ghcr-container.yaml
    with:
      namespace: ${{ github.repository }}
      image_name: relay
      dockerfile: ./cmd/relay/Dockerfile
    secrets: inherit
