name: container-beemo-ghcr
on:
  push:
    branches:
      - main
    tags:
      - "beemo-v*"
jobs:
  container-beemo-ghcr:
    if: github.repository == 'bluesky-social/indigo'
    permissions:
      contents: read
      packages: write
      id-token: write

    uses: ./.github/workflows/build-ghcr-container.yaml
    with:
      namespace: ${{ github.repository }}
      image_name: beemo
      dockerfile: ./cmd/beemo/Dockerfile
    secrets: inherit
