name: container-tap-ghcr
on:
  push:
    branches:
      - main
    tags:
      - "tap-v*"
jobs:
  container-tap-ghcr:
    if: github.repository == 'bluesky-social/indigo'
    permissions:
      contents: read
      packages: write
      id-token: write

    uses: ./.github/workflows/build-ghcr-container.yaml
    with:
      namespace: ${{ github.repository }}
      image_name: tap
      dockerfile: ./cmd/tap/Dockerfile
    secrets: inherit
