name: container-palomar-ghcr
on:
  push:
    branches:
      - main
    tags:
      - "palomar-v*"
jobs:
  container-palomar-ghcr:
    if: github.repository == 'bluesky-social/indigo'
    permissions:
      contents: read
      packages: write
      id-token: write

    uses: ./.github/workflows/build-ghcr-container.yaml
    with:
      namespace: ${{ github.repository }}
      image_name: palomar
      dockerfile: ./cmd/palomar/Dockerfile
    secrets: inherit
