name: container-bigsky-ghcr
on:
  push:
    branches:
      - main
    tags:
      - "bigsky-v*"
jobs:
  container-bigsky-ghcr:
    if: github.repository == 'bluesky-social/indigo'
    permissions:
      contents: read
      packages: write
      id-token: write

    uses: ./.github/workflows/build-ghcr-container.yaml
    with:
      namespace: ${{ github.repository }}
      image_name: bigsky
      dockerfile: ./cmd/bigsky/Dockerfile
    secrets: inherit
