name: container-sonar-ghcr
on:
  push:
    branches:
      - main
    tags:
      - "sonar-v*"
jobs:
  container-sonar-ghcr:
    if: github.repository == 'bluesky-social/indigo'
    permissions:
      contents: read
      packages: write
      id-token: write

    uses: ./.github/workflows/build-ghcr-container.yaml
    with:
      namespace: ${{ github.repository }}
      image_name: sonar
      dockerfile: ./cmd/sonar/Dockerfile
    secrets: inherit
